.best-deal-product-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px;
  border: 1px solid #aeaeae;
}

.best-deal-product-container .name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.best-deal-product-container .name-price h4 {
  font-size: 27px;
  margin: 0;
}

.best-deal-product-container .name-price p {
  font-size: 30px;
  text-align: left;
  margin: 0;
}

.best-deal-product-container .name-price > p {
  color: #00c9ff;
}

.best-deal-product-container .name-price div {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}

.best-deal-product-container .offer-image span {
  color: #c82020;
}

.best-deal-product-container .offer-image img {
  width: 100%;
}
