.header-container {
  height: max-content;
  background: #03484d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.e-commerce-logo {
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 19px;
}

.e-commerce-logo img {
  width: 88px;
  height: 24px;
  margin: auto 3px auto 30px;
}

.search-bar {
  display: flex;
  font-size: 13px;
  color: #aba3a3;
  margin: 15px 25px 15px 25px;
}

.search-bar input,
select {
  padding: 1rem;
  border: none;
  outline: none;
}

.search-bar .all-categories select {
  font-family: "Roboto", sans-serif;
  border-radius: 6px 0 0 6px;
  padding: 1rem;
}

.search-bar .search-box input {
  padding: 1rem;
  border-radius: 0 6px 6px 0;
}

.header-icons {
  color: white;
}
