.header-container {
  width: 100%;
  height: max-content;
  background: #03484d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px 5px 45px;
}

.header-container .logo-searchbar {
  display: flex;
  gap: 25px;
}

.e-commerce-logo img {
  width: 88px;
  height: 24px;
  margin: auto 3px auto 0;
}

.header-icons {
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.header-icons .contact {
  margin-right: 30px;
}

.header-icons .contact p {
  font-size: 17px;
  margin: 5px 0;
}

.header-icons .contact p:nth-child(2) {
  display: flex;
  align-items: center;
}

.header-icons .contact svg {
  font-size: 35px;
  padding-right: 3px;
}

.header-icons .contact p a {
  color: white;
  text-decoration: none;
}

.header-icons .cart-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons .cart-icons svg {
  font-size: 45px;
  padding: 8px;
}

.header-icons .cart-icons span {
  display: flex;
  align-items: center;
}

.header-icons .cart-icons span svg {
  padding-right: 2px;
}

/* Responsiveness */
/* Extra large device */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* .header-container {
    justify-content: center;
    gap: 30px;
    padding: 5px 0 5px 0;
  }
  .header-icons .contact {
    display: none;
  }
  .header-icons .cart-icons svg {
    padding: 0;
  } */
}

/* Large device */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-container {
    padding: 20px 0;
    justify-content: center;
  }
  .header-icons .contact {
    display: none;
  }
}

/* Medium device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-container {
    padding: 20px 0;
    justify-content: center;
  }
  .header-icons .contact {
    display: none;
  }
  .header-icons .cart-icons span span {
    display: none;
  }
}

/* Small device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-container {
    display: block;
  }
  .search-bar-container .searchbox .dropdown {
    display: none;
  }
}

/* Extra small device */
@media screen and (max-width: 575px) {
  .header-container {
    display: block;
  }
  .search-bar-container .searchbox .dropdown {
    display: none;
  }
}
