.search-bar-container {
  box-sizing: border-box;
  color: #aeaeae;
}

.search-bar-container .searchbox {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: white;
  width: 100%;
  height: 60px;
}

.search-bar-container .searchbox .dropdown {
  position: relative;
}

.search-bar-container .searchbox .dropdown .defaultOption {
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  border-right: 2px solid #aeaeae;
}

.search-bar-container .searchbox .dropdown .ul {
  padding: 0;
  list-style: none;
  position: absolute;
  border-radius: 5px;
  top: 70px;
  background: white;
  width: 150px;
  text-align: center;
  padding-top: 20px;
  z-index: 1;
  display: none;
}

.active {
  display: block;
}

.search-bar-container .searchbox .dropdown .ul li {
  padding-bottom: 20px;
  cursor: pointer;
}

.search-bar-container .searchbox .searchField {
  position: relative;
  width: 400px;
  height: 60px;
}

.search-bar-container .searchbox .searchField input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 20px;
}

.search-bar-container .searchbox .searchField div {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 60px;
  cursor: pointer;
}

.search-bar-container .searchbox .searchField div svg {
  font-size: 25px;
  color: black;
}
