.banner-container {
  position: relative;
  height: max-content;
}

.banner-container .carousel-item {
  position: relative;
}

.banner-container .carousel-item .carousel-caption {
  position: absolute;
  width: 480px;
  text-align: left;
  top: 8%;
  left: 15%;
  color: black;
}

.banner-container .carousel-item .carousel-caption h3 {
  font-size: 50px;
}

.banner-container .carousel-item .carousel-caption h3 span {
  color: #0aaeb9;
}

.banner-container .carousel-item .carousel-caption p {
  font-size: 16px;
}

.banner-container .carousel-item .carousel-caption button {
  font-size: 15px;
  padding: 8px 15px;
  border: none;
  background-color: #14b1f0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsiveness

/* Large device */
@media screen and (min-width: 992px) and (max-width: 1192px) {
  .banner-container .carousel-item .carousel-caption h3 {
    font-size: 40px;
  }
  .banner-container .carousel-item .carousel-caption p {
    font-size: 14px;
  }
}

/* Medium device */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner-container .carousel-item .carousel-caption h3 {
    font-size: 30px;
  }
  .banner-container .carousel-item .carousel-caption p {
    font-size: 12px;
  }
}

/* Small device */
@media screen and (min-width: 575px) and (max-width: 768px) {
  .banner-container .carousel-item .carousel-caption {
    width: 300px;
  }
  .banner-container .carousel-item .carousel-caption h3 {
    font-size: 20px;
  }
  .banner-container .carousel-item .carousel-caption p {
    font-size: 10px;
  }
  .banner-container .carousel-item .carousel-caption button {
    font-size: 10px;
  }
}

/* Extra small device */
@media screen and (max-width: 575px) {
  .banner-container .carousel-item .carousel-caption h3 {
    font-size: 20px;
  }
  .banner-container .carousel-item .carousel-caption p {
    font-size: 10px;
  }
  .banner-container .carousel-item .carousel-caption button {
    font-size: 10px;
  }
}
