.footer-container .upper-part {
  background: #393939;
  padding: 40px 70px 40px 70px;
}

.footer-container .upper-part .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container .contact-info,
.trending,
.information,
.customer-care {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.footer-container .contact-info p {
  margin: 0;
}

.footer-container .contact-info div {
  margin-bottom: 15px;
}

.footer-subheadings {
  font-size: 22px;
  color: #00cad7;
  margin-bottom: 20px;
}

.footer-container .trending a {
  text-decoration: none !important;
  color: white !important;
  margin: 7px 0;
  font-size: 17px;
  width: max-content;
}

.footer-container .information a {
  text-decoration: none;
  color: white;
  margin: 7px 0;
  font-size: 17px;
  width: max-content;
}

.footer-container .customer-care a {
  text-decoration: none;
  width: max-content;
  color: white;
  margin: 7px 0;
  font-size: 17px;
}

.footer-container .lower-part {
  background: black;
}

.footer-container .lower-part p {
  margin: 0;
  padding: 5px 0;
  color: white;
  font-size: 18px;
}

.cards {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.cards .box {
  width: 95px;
  height: 55px;
  background: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsiveness
/* Large device */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container .upper-part .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-container .upper-part .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer-container .upper-part .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Extra small device */
@media screen and (max-width: 575px) {
  .footer-container .upper-part .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
